{% extends 'layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-offset-2 col-md-8">
            <h3>Waarom DevOpsCenter?</h3>
            <p>Met dit DevOpsCenter slack kanaal willen wij de thuisbasis vormen voor DevOps Developers / Engineers en DevOps Usergroups in Nederland.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-md-8">
            <hr>
            <h3>Aanmelden</h3>
            <p>Iedereen is welkom in het Slack team. Via onderstaand formulier kan je een invite aanvragen om daarna
                zelf een account aan te maken en in contact te komen met mede DevOps.
            </p>
        </div>
    </div>
{% endblock %}

{% block signupform %}
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4  col-xs-offset-2 col-xs-8 text-center">
            <hr>
            <p>Join <b>{{ slack.getTeamName }}</b> on Slack.</p>
            <p class="small">
                <b class="active">{{ slack.getUserCount['active'] }}</b> users online now of <b
                        class="total">{{ slack.getUserCount['total'] }}</b> registered.
            </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4  col-xs-offset-2 col-xs-8 text-center">
            <form action="{{ path('slack_invite') }}" method="post" id="inviteform">
                <div class="row">
                    <div class="form-group">
                        {#{{ form_widget(form) }}#}
                        <input id="email" name="email" class="form-control" placeholder="your@email.com">
                    </div>
                    <button id="submitbutton" type="submit" class="btn btn-block btn-success"
                            data-target="{{ path('slack_invite') }}">
                        <span class="glyphicon glyphicon-hand-right"></span> Send invite
                    </button>
                </div>
            </form>
            <hr>
            <p>Current users:</p>
            <table class="avatar">
                {% for row in avatars|batch(11) %}
                    <tr>
                        {% for name,avatar in row %}
                            <td><img src="{{ avatar }}" alt="{{ name }}" name="{{ name }}" title="{{ name }}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}